@import '../../variables/variables.scss';

.auth {
    background-color: $color__silver;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth__form {
    display: flex;
    max-width: 380px;
    max-height: 526px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
}

.auth__wrapper {
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 260px;
}

.auth__image {
    width: 147px;
    height: 80px;
}

.auth__title {
    margin: 30px 0 0 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.auth__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 30px 0 0 0;
}

.auth__input {
    margin: 10px 0 0 0;
    max-width: 260px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 0 12px;
    height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: calc(100% - 12px);
}

.auth__input:focus {
    outline: 1px solid $color__air;
}

.auth__input::placeholder {
    color: #D9D9D9;
}

.auth__submit {
    background-color: $color__air;
    border: none;
    border-radius: 2px;
    color: white;
    height: 40px;
    margin: 30px 0 30px;
    cursor: pointer;
}

.auth__submit:disabled {
    background-color: $color__silver;
}

.auth__link {
    text-decoration: none;
    color: $color__air;
    margin: 0 0 30px 0;
}

.user {
    background-image: url('../../../public/images/auth__input__user.svg');
}

.password {
    background-image: url('../../../public/images/auth__input__password.svg');
}
